@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/l/font?kit=L0xkDF4xlVMF-BfR8bXMIjC4iFqzdbiLA28zOImecfaJH6qDcL0W&skey=8be08dae698074e5&v=v5) format('woff2');
}
